<nav id="navigation" class="gradient pull-left">
    <span id="navigation-branding">
        <span id="headerTitle"/>
    </span>
    <ul>
        <li><a class="nav-link" href="home.html" data-target="home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a class="nav-link" href="queryBuilder.html" data-target="query-builder"><span class="glyphicon glyphicon-search"></span> Advanced Query</a></li>
        <li><a class="nav-link" href="storedQuery.html" data-target="stored-query"><span class="glyphicon glyphicon-search"></span> Stored Query</a></li>
        <li><a class="nav-link" href="dashboard.html" data-target="dashboard"><span class="glyphicon glyphicon-stats"></span> Dashboard</a></li>
        <li><a class="nav-link" href="map.html" data-target=""><span class="glyphicon glyphicon-globe"></span> Map Layers</a></li>
        <li><a class="view-record" data-action="create"><span class="glyphicon glyphicon-plus-sign"></span> Create Record</a></li>
        <li><a class="nav-link hide" href="users.html" id="users-link"><span class="glyphicon glyphicon-user"></span> Users</a></li>
        <li><a class="nav-link" href="userApproval.html" id="users-approve"><span class="glyphicon glyphicon-user"></span>Approve Users</a></li>
    </ul>
</nav>
<div id="login-bar" class="gradient pull-left">
    <div id="login-content">
        <a class="white" style="font-size: 14px;"><span class="glyphicon glyphicon-user"></span> <span id="login-name">Sign In</span></a>
        <br>
        <a class="nav-link white" href="settings.html" data-target="settings">Settings</a> |
        <a id="logout" class="white" data-target="logout">Disconnect</a>
    </div>
</div>