<div class="page-title">Advanced Query Builder</div>
<div id="container">
    <div id="query-builder-container" class="content horizontal scroll-y">
        <ul class="nav nav-tabs">
            <li class="active"><a data-target="#query-builder" data-toggle="tab"><span class='glyphicon glyphicon-th-list'></span> Query Builder</a></li>
            <li><a data-target="#xml-output" data-toggle="tab"><span class='glyphicon glyphicon-file'></span> XML Output</a></li>
            <li><a data-target="#saved-queries" data-toggle="tab"><span class='glyphicon glyphicon-save'></span> Saved Local Queries</a></li>
        </ul>
        <div class="tab-content" style="margin-top: 10px; padding: 5px;">
            <div id="query-builder" class="query-builder-full tab-pane active">
                <button class="save-query btn btn-primary btn-sm"><span class='glyphicon glyphicon-save'></span> Save Query</button>
                <button class="query btn btn-primary btn-sm"><span class='glyphicon glyphicon-search'></span> Execute Query</button>
                <br>
                <br>
            </div>
            <div id="xml-output" class="tab-pane">
                <textarea class="output"></textarea>
            </div>
            <div id="saved-queries" class="tab-pane"></div>
        </div>
    </div>
</div>
